<VirtualHost *:443>
    ServerName {{ http_host }}
    ServerAlias www.{{ http_host }}
    DocumentRoot /var/www/{{ http_host }}
    ErrorLog /var/log/httpd/{{ http_host }}_ssl_error.log
    CustomLog /var/log/httpd/{{ http_host }}_ssl_access.log {{ log_format }}
    LogLevel warn
    SSLEngine on
    SSLCertificateFile {{ certs_path }}/{{ http_host }}.crt
    SSLCertificateKeyFile {{ certs_path }}/{{ http_host }}.key
        SSLProtocol all -SSLv2
    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
     <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
     </FilesMatch>
    BrowserMatch "MSIE [2-6]" \
    nokeepalive ssl-unclean-shutdown \
    downgrade-1.0 force-response-1.0
    BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
</VirtualHost>
